In [1]:
# Import polyglot library
import lib.hbgd as hbgd

In [2]:
# Import pandas and make a dataframe
import pandas as pd
df = pd.read_csv('brokenstick-hgtwgt.csv')
df.head()

,src,id,rec,nrec,age,sex,etn,ga,bw,hgt,wgt,hgt.z
0,smocc,10001,1,10,0.0000,female,NL,40.0,3960.0,52.0,3.96,1.531
1,smocc,10001,2,10,0.0821,female,NL,40.0,3960.0,55.6,4.05,1.007
2,smocc,10001,3,10,0.1588,female,NL,40.0,3960.0,58.2,4.56,0.700
3,smocc,10001,4,10,0.2546,female,NL,40.0,3960.0,61.2,5.09,0.598
4,smocc,10001,5,10,0.5038,female,NL,40.0,3960.0,67.2,6.81,0.615

In [3]:
# Run it through HBGD R check_data function (via polyglot API)
hbgd.check_data(df)

''

Issues:
- Output is shown on stdout but is not coming here
- Pass data back via feather